#HelloTXT{
    text-align : center;
    font-family : Arial;
    text-emphasis : none;
}

#loginGroup{
    text-align : center;
    font-family : Arial;
}

#loginButt{
    padding : 2px, 4px;
    color : rgb(122, 102, 75);
    border-width: 0.5em;
    border-color: rgb(122, 102, 75);
    text-
}