#buttons {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    text-align : center;
    font-size : 1.5em;
}
#homeTitle {
    text-align : center;
    font-family : Arial;
    font-size : 3.25em;
}

.button {
    padding : 20px, 20px;
    font-size : 1.25em;
    font-family : Arial;
    cursor : pointer;
    --background-color : rgb(147, 127, 248);
    --color : rgb(19, 0, 113);
}
