<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'CSS/Characters.css')}}">
</head>
<body>
    <button id = "homeButton" onclick = redirectToPage("{{url_for('views.home')}}")>Home</button>

    <h1 id = "pageTitle">Characters</h1>

    <div class = "container">
        <div class = "card">
            <button id = "addButton"><img src = "images/plusSign.png" alt = "Add"></button>
            <h4 class = "characterName">Add New Character</h4>
            <div class = "description">
                <p>Character description here...</p>
            </div>
        </div>
    </div>

    <script type = "text/javascript" src = "{{url_for('static', filename = 'Characters.js')}}"></script>
</body>
</html>