<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spells</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'CSS/Spells.css')}}">
</head>
<body>
    <button id = "homeButton" onclick = redirectToPage("{{url_for('views.home')}}")>Home</button>
    
    <br>

    <!--
    <button id = "addButton">Add spell</button>
-->

    <h1 id = "pageTitle">Spells</h1>

    <div id = "columnNames">
        <div class = "inner">
            <p class = "names" id = "newSpell">Spell</p>
            <p class = "names" id = "newLevel">Level</p>
            <p class = "names" id = "newCast">Casting Time</p>
            <p class = "names" id = "newDuration">Duration</p>
            <p class = "names" id = "newRange">Range</p>
            <p class = "names" id = "newSave">Attack/Save</p>
            <p class = "names" id = "newAffect">Damage/Affect</p>
        </div>
    </div>

    <div class = "scrollingBox">
        <ul class = "list" id = "spells">
            <li class = "enter">
                <div id = spellEnter>
                    <input id = "spellInput"><button id = "addButton">Add</button>
                </div>
            </li>
        </ul>
        <ul class = "list" id = "levels">
            <li class = "enter">--</li>
        </ul>
        <ul class = "list" id = "casts">
            <li class = "enter">--</li>
        </ul>
        <ul class = "list" id = "durations">
            <li class = "enter">--</li>
        </ul>
        <ul class = "list" id = "ranges">
            <li class = "enter">--</li>
        </ul>
        <ul class = "list" id = "saves">
            <li class = "enter">--</li>
        </ul>
        <ul class = "list" id = "affects">
            <li class = "enter">--</li>
        </ul>

    </div>


    <script type = "text/javascript" src = "{{url_for('static', filename = 'Spells.js')}}"></script>
</body>
</html>